# data files

*.json
*.csv
*.txt
*.sh

# models
trained_models/generators
trained_models/verifiers
trained_models/Llama-2-7b-chat-hf

# wandb
wandb/

# unsloth cache
unsloth_compiled_cache/

# pycache
__pycache__

