# data files
*.json
*.csv
*.txt
*.sh

# data-based prompts
in_context_prompt_templates.py
base_model_inference.py

# models
trained_models/generators
trained_models/verifiers
trained_models/GRPO_generators
trained_models/Llama-2-7b-chat-hf

# wandb
wandb/

# unsloth cache
unsloth_compiled_cache/

# pycache
__pycache__

